html, body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.mainContainer {
    width: 92%;
    padding: 1% 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
    margin: 0 0.5%;
    border-radius: 10px;
    background-color: #FFFFFF;
    flex: 0 0 auto;
}

.header {
    width: 92%;
    padding: 3% 4% 1% 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}